In [2]:
import os
os.chdir('C:\MyBigData\datasets\housing')

In [13]:
import pandas as pd

# Load the data 데이터 적재
housing = pd.read_csv("housing.csv", thousands=',')
print(housing)
housing.head()

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
5        -122.25     37.85                52.0        919.0           213.0
6        -122.25     37.84                52.0       2535.0           489.0
7        -122.25     37.84                52.0       3104.0           687.0
8        -122.26     37.84                42.0       2555.0           665.0
9        -122.25     37.84                52.0       3549.0           707.0
10       -122.26     37.85                52.0       2202.0           434.0
11       -122.26     37.85                52.0       3503.0           752.0
12       -122.26     37.85                52.0       2491.0           474.0
13       -122.26     37.84                52.0        696.0           191.0
14       -122.26     37.85                52.0       2643.0           626.0
15       -122.26     37.85                50.0       1120.0           283.0
16       -122.27     37.85                52.0       1966.0           347.0
17       -122.27     37.85                52.0       1228.0           293.0
18       -122.26     37.84                50.0       2239.0           455.0
19       -122.27     37.84                52.0       1503.0           298.0
20       -122.27     37.85                40.0        751.0           184.0
21       -122.27     37.85                42.0       1639.0           367.0
22       -122.27     37.84                52.0       2436.0           541.0
23       -122.27     37.84                52.0       1688.0           337.0
24       -122.27     37.84                52.0       2224.0           437.0
25       -122.28     37.85                41.0        535.0           123.0
26       -122.28     37.85                49.0       1130.0           244.0
27       -122.28     37.85                52.0       1898.0           421.0
28       -122.28     37.84                50.0       2082.0           492.0
29       -122.28     37.84                52.0        729.0           160.0
...          ...       ...                 ...          ...             ...
20610    -121.56     39.10                28.0       2130.0           484.0
20611    -121.55     39.10                27.0       1783.0           441.0
20612    -121.56     39.08                26.0       1377.0           289.0
20613    -121.55     39.09                31.0       1728.0           365.0
20614    -121.54     39.08                26.0       2276.0           460.0
20615    -121.54     39.08                23.0       1076.0           216.0
20616    -121.53     39.08                15.0       1810.0           441.0
20617    -121.53     39.06                20.0        561.0           109.0
20618    -121.55     39.06                25.0       1332.0           247.0
20619    -121.56     39.01                22.0       1891.0           340.0
20620    -121.48     39.05                40.0        198.0            41.0
20621    -121.47     39.01                37.0       1244.0           247.0
20622    -121.44     39.00                20.0        755.0           147.0
20623    -121.37     39.03                32.0       1158.0           244.0
20624    -121.41     39.04                16.0       1698.0           300.0
20625    -121.52     39.12                37.0        102.0            17.0
20626    -121.43     39.18                36.0       1124.0           184.0
20627    -121.32     39.13                 5.0        358.0            65.0
20628    -121.48     39.10                19.0       2043.0           421.0
20629    -121.39     39.12                28.0      10035.0          1856.0
20630    -121.32     39.29                11.0       2640.0           505.0
20631    -121.40     39.33                15.0       2655.0           493.0
20632    -121.45     39.26                15.0       2319.0           416.0
20633    -121.53     39.19                27.0       2080.0           412.0
20634    -121.56     39.27                28.0       2332.0           395.0
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
5           413.0       193.0         4.0368            269700.0
6          1094.0       514.0         3.6591            299200.0
7          1157.0       647.0         3.1200            241400.0
8          1206.0       595.0         2.0804            226700.0
9          1551.0       714.0         3.6912            261100.0
10          910.0       402.0         3.2031            281500.0
11         1504.0       734.0         3.2705            241800.0
12         1098.0       468.0         3.0750            213500.0
13          345.0       174.0         2.6736            191300.0
14         1212.0       620.0         1.9167            159200.0
15          697.0       264.0         2.1250            140000.0
16          793.0       331.0         2.7750            152500.0
17          648.0       303.0         2.1202            155500.0
18          990.0       419.0         1.9911            158700.0
19          690.0       275.0         2.6033            162900.0
20          409.0       166.0         1.3578            147500.0
21          929.0       366.0         1.7135            159800.0
22         1015.0       478.0         1.7250            113900.0
23          853.0       325.0         2.1806             99700.0
24         1006.0       422.0         2.6000            132600.0
25          317.0       119.0         2.4038            107500.0
26          607.0       239.0         2.4597             93800.0
27         1102.0       397.0         1.8080            105500.0
28         1131.0       473.0         1.6424            108900.0
29          395.0       155.0         1.6875            132000.0
...           ...         ...            ...                 ...
20610      1195.0       439.0         1.3631             45500.0
20611      1163.0       409.0         1.2857             47000.0
20612       761.0       267.0         1.4934             48300.0
20613      1167.0       384.0         1.4958             53400.0
20614      1455.0       474.0         2.4695             58000.0
20615       724.0       197.0         2.3598             57500.0
20616      1157.0       375.0         2.0469             55100.0
20617       308.0       114.0         3.3021             70800.0
20618       726.0       226.0         2.2500             63400.0
20619      1023.0       296.0         2.7303             99100.0
20620       151.0        48.0         4.5625            100000.0
20621       484.0       157.0         2.3661             77500.0
20622       457.0       157.0         2.4167             67000.0
20623       598.0       227.0         2.8235             65500.0
20624       731.0       291.0         3.0739             87200.0
20625        29.0        14.0         4.1250             72000.0
20626       504.0       171.0         2.1667             93800.0
20627       169.0        59.0         3.0000            162500.0
20628      1018.0       390.0         2.5952             92400.0
20629      6912.0      1818.0         2.0943            108300.0
20630      1257.0       445.0         3.5673            112000.0
20631      1200.0       432.0         3.5179            107200.0
20632      1047.0       385.0         3.1250            115600.0
20633      1082.0       382.0         2.5495             98300.0
20634      1041.0       344.0         3.7125            116800.0
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
5            NEAR BAY
6            NEAR BAY
7            NEAR BAY
8            NEAR BAY
9            NEAR BAY
10           NEAR BAY
11           NEAR BAY
12           NEAR BAY
13           NEAR BAY
14           NEAR BAY
15           NEAR BAY
16           NEAR BAY
17           NEAR BAY
18           NEAR BAY
19           NEAR BAY
20           NEAR BAY
21           NEAR BAY
22           NEAR BAY
23           NEAR BAY
24           NEAR BAY
25           NEAR BAY
26           NEAR BAY
27           NEAR BAY
28           NEAR BAY
29           NEAR BAY
...               ...
20610          INLAND
20611          INLAND
20612          INLAND
20613          INLAND
20614          INLAND
20615          INLAND
20616          INLAND
20617          INLAND
20618          INLAND
20619          INLAND
20620          INLAND
20621          INLAND
20622          INLAND
20623          INLAND
20624          INLAND
20625          INLAND
20626          INLAND
20627          INLAND
20628          INLAND
20629          INLAND
20630          INLAND
20631          INLAND
20632          INLAND
20633          INLAND
20634          INLAND
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [16]:
housing["ocean_proximity"].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [17]:
housing.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [18]:
import matplotlib.pyplot as plt
housing.hist(bins=50, figsize=(20,15))
plt.show()

In [19]:
# 데이터 테스트 세트 만들기 20% 테스트 세트  # 또다른 데이터세트가 나와서 효율 없음

import numpy as np

def split_train_test(data, test_ratio):
    shuffled_indices = np.random.permutation(len(data))
    test_set_size = int(len(data) * test_ratio)
    test_indices = shuffled_indices[:test_set_size]
    train_indices = shuffled_indices[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

train_set, test_set = split_train_test(housing, 0.2)
print(len(train_set), "train +", len(test_set), "test")

16512 train + 4128 test

In [20]:
#식별자의 해쉬를 통해 바이트 값을 51로 지정하여 20프로 정도를 테스트 세트로 구성
from zlib import crc32
def test_set_check(identifier, test_ratio):
    return crc32(np.int64(identifier)) & 0xffffffff < test_ratio * 2**32

def split_train_test_by_id(data, test_ratio, id_column):
    ids = data[id_column]
    in_test_set = ids.apply(lambda id_: test_set_check(id_, test_ratio))
    return data.loc[~in_test_set], data.loc[in_test_set]


# `index` 열이 추가된 데이터프레임이 반환됩니다
housing_with_id = housing.reset_index()
train_set, test_set = split_train_test_by_id(housing_with_id, 0.2, "index")
test_set.head()


# "위도 경도 연결하여 ID만듬"
housing_with_id["id"] = housing["longitude"] * 1000 + housing["latitude"]
train_set, test_set = split_train_test_by_id(housing_with_id, 0.2, "id")
test_set.head()

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,id
59,59,-122.29,37.82,2.0,158.0,43.0,94.0,57.0,2.5625,60000.0,NEAR BAY,-122252.18
60,60,-122.29,37.83,52.0,1121.0,211.0,554.0,187.0,3.3929,75700.0,NEAR BAY,-122252.17
61,61,-122.29,37.82,49.0,135.0,29.0,86.0,23.0,6.1183,75000.0,NEAR BAY,-122252.18
62,62,-122.29,37.81,50.0,760.0,190.0,377.0,122.0,0.9011,86100.0,NEAR BAY,-122252.19
67,67,-122.29,37.80,52.0,1027.0,244.0,492.0,147.0,2.6094,81300.0,NEAR BAY,-122252.20

In [21]:
# 사이킷런으로 테스트 세트 만드는것 
# 데이터 편향 주의 
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(housing, test_size=0.2, random_state=42)

test_set.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20046,-119.01,36.06,25.0,1505.0,NaN,1392.0,359.0,1.6812,47700.0,INLAND
3024,-119.46,35.14,30.0,2943.0,NaN,1565.0,584.0,2.5313,45800.0,INLAND
15663,-122.44,37.80,52.0,3830.0,NaN,1310.0,963.0,3.4801,500001.0,NEAR BAY
20484,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,<1H OCEAN
9814,-121.93,36.62,34.0,2351.0,NaN,1063.0,428.0,3.7250,278000.0,NEAR OCEAN

In [22]:
# 번외 자체 train_test_split 함수

# (1) Parameter

# arrays : 분할시킬 데이터를 입력 (Python list, Numpy array, Pandas dataframe 등..)

# test_size : 테스트 데이터셋의 비율(float)이나 갯수(int) (default = 0.25)

# train_size : 학습 데이터셋의 비율(float)이나 갯수(int) (default = test_size의 나머지)

# random_state : 데이터 분할시 셔플이 이루어지는데 이를 위한 시드값 (int나 RandomState로 입력)

# shuffle : 셔플여부설정 (default = True)

# stratify : 지정한 Data의 비율을 유지한다. 예를 들어, Label Set인 Y가 25%의 0과 75%의 1로 이루어진 Binary Set일 때, stratify=Y로 설정하면 나누어진 데이터셋들도 0과 1을 각각 25%, 75%로 유지한 채 분할된다.

# 

# (2) Return

# X_train, X_test, Y_train, Y_test : arrays에 데이터와 레이블을 둘 다 넣었을 경우의 반환이며, 데이터와 레이블의 순서쌍은 유지된다.

# X_train, X_test : arrays에 레이블 없이 데이터만 넣었을 경우의 반환

# 

# 3. Example

import numpy as np
from sklearn.model_selection import train_test_split

X = [[0,1],[2,3],[4,5],[6,7],[8,9]]
Y = [0,1,2,3,4]

# 데이터(X)만 넣었을 경우
X_train, X_test = train_test_split(X, test_size=0.2, random_state=123)
# X_train : [[0,1],[6,7],[8,9],[2,3]]
# X_test : [[4,5]]

print(X_train)
print(X_test)
print("")

# 데이터(X)와 레이블(Y)을 넣었을 경우
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=321)
# X_train : [[4,5],[0,1],[6,7]]
# Y_train : [2,0,3]
# X_test : [[2,3],[8,9]]
# Y_test : [1,4]

print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

[[6, 7], [8, 9], [0, 1], [4, 5]]
[[2, 3]]

[[0, 1], [4, 5], [8, 9]]
[[6, 7], [2, 3]]
[0, 2, 4]
[3, 1]

In [1]:
# housing["median_income"].hist()

print("중간 소득이 중간 주택 가격 예측")  
print("중간 소득의 계층을 1.5 로 나눈다") 
print("각각의 계층에 충분한 샘플수가 있어야 계층의 중요도를 찾는데 편향이 없을 것임")

housing["income_cat"] = np.ceil(housing["median_income"] / 1.5 )
housing["income_cat"].where(housing["income_cat"] < 5, 5.0, inplace=True )
print(housing["income_cat"])
# 소득 카테고리 히스토그램
housing["income_cat"].hist()

# 계층 셈플링 StraitifiedKFOLD 와 ShuffleSplit 의 랜덤 샘플링의 합성 매게변수 합 1이하로 지정 가능 
from sklearn.model_selection import StratifiedShuffleSplit 
split = StratifiedShuffleSplit(n_splits = 1, test_size = 0.2, random_state=42)
for train_index, test_index in split.split(housing, housing["income_cat"]):
    strat_train_set = housing.loc[train_index]
    strat_test_set = housing.loc[test_index]

# 전체 주택데이터 셋에서 소득 카테고리 비율 
housing["income_cat"].value_counts() / len(housing)

중간 소득이 중간 주택 가격 예측
중간 소득의 계층을 1.5 로 나눈다
각각의 계층에 충분한 샘플수가 있어야 계층의 중요도를 찾는데 편향이 없을 것임

NameError: name 'np' is not defined

In [24]:
# 계층 샘플링과 순수 무작위 샘플링 과의 샘플링 편향 비교 
def income_cat_proportions(data):
    return data["income_cat"].value_counts() / len(data)

train_set, test_set = train_test_split(housing, test_size=0.2, random_state=42)

compare_props = pd.DataFrame({
    "전체": income_cat_proportions(housing),
    "계층 샘플링": income_cat_proportions(strat_test_set),
    "무작위 샘플링": income_cat_proportions(test_set),
}).sort_index()
compare_props["무작위 샘플링. %error"] = 100 * compare_props["무작위 샘플링"] / compare_props["전체"] - 100
compare_props["계층 샘플링. %error"] = 100 * compare_props["계층 샘플링"] / compare_props["전체"] - 100

compare_props

           전체    계층 샘플링   무작위 샘플링  무작위 샘플링. %error  계층 샘플링. %error
1.0  0.039826  0.039729  0.040213         0.973236       -0.243309
2.0  0.318847  0.318798  0.324370         1.732260       -0.015195
3.0  0.350581  0.350533  0.358527         2.266446       -0.013820
4.0  0.176308  0.176357  0.167393        -5.056334        0.027480
5.0  0.114438  0.114583  0.109496        -4.318374        0.127011

In [25]:
# income_cat 데이터 삭제 

for set_ in (strat_train_set, strat_test_set):
    set_.drop("income_cat", axis=1, inplace=True)

In [26]:
# 훈련 세트 전부 사용 
housing = strat_train_set.copy()